! special
*.foreground:   #eeeeec
*.background:   #3d3933
!!!!!! lighter brown for background:
!*.background:   #5d554a
*.cursorColor:  #eeeeec

! black
*.color0:       #555753
*.color8:       #babdb6

! red
*.color1:       #ffa257
*.color9:       #ffcc7c

! green
*.color2:       #a6c765
*.color10:      #cbe2a0

! yellow
*.color3:       #ac7ddb
*.color11:      #c5a9df

! blue
*.color4:       #4775af
*.color12:      #a2bbd9

! magenta
*.color5:       #d680c5
*.color13:      #daacdd

! cyan
*.color6:       #73bdbd
*.color14:      #9bd3d3

! white
*.color7:       #d3d7cf
*.color15:      #eeeeec

